<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="fabrics"></ion-back-button>
    </ion-buttons>
    <ion-title>S.K Fab</ion-title>

    <ion-buttons slot="end">
        <!-- <ion-badge *ngIf="cart.length > 0">{{cart.length}}</ion-badge> -->
        <div>{{cartItemCount | async}}</div>
        <ion-button (click)="openCart()" #cart>
          <ion-icon name="cart" slot="icon-only"></ion-icon>
          </ion-button>
      </ion-buttons>
      
  </ion-toolbar>
</ion-header>

<ion-content padding style="--background: whitesmoke;">

  <ion-toolbar>
    <ion-segment color="primary" (ionChange)="segmentChanged($event)" [(ngModel)]="galleryType">
      <ion-segment-button value="summer" checked>
        <ion-label>Summer</ion-label>
      </ion-segment-button>
      <ion-segment-button value="winter">
        <ion-label>Winter</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="galleryType" class="grid">
    <ion-grid *ngSwitchCase="'summer'">
        <ion-card>
      <ion-row  *ngFor=" let cat of items">
        <ion-col *ngFor="let product of cat.Product">
          <h5 text-wrap>{{product.price | currency:'Rs'}} {{product.name}}</h5>
            <img src="{{ product.image }}" alt="" style="height: 280px; width:250px;">
            <ion-button expand="full" (click)="addToCart(product)" color="danger">Add To Card</ion-button>
            <ion-button expand="full" (click)="selectFabric(product)"  color="medium">select for stitching</ion-button>
        </ion-col>
      </ion-row>
    </ion-card> 
    </ion-grid>
  </div>

  <div [ngSwitch]="galleryType" class="grid">
    <ion-grid *ngSwitchCase="'winter'">
        <ion-card>
      <ion-row  *ngFor=" let cat of items">
        <ion-col *ngFor="let product of cat.Product2">
          <h5 text-wrap>{{product.price | currency:'Rs'}} {{product.name}}</h5>
            <img src="{{ product.image }}" alt="" style="height: 280px; width:250px;">
            <ion-button expand="full" (click)="addToCart(product)" color="danger">Add To Card</ion-button>
            <ion-button expand="full" (click)="selectFabric(product)"  color="medium">select for stitching</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    </ion-grid>
  </div>


</ion-content>