<ion-header>
  <ion-toolbar style="--background:#674172; color: white;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>ShalwarKameez Fabrics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="'summer'" [(ngModel)]="galleryType">
      <ion-segment-button value="summer">
        <ion-label>Summer</ion-label>
      </ion-segment-button>
      <ion-segment-button value="winter">
        <ion-label>Winter</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="galleryType" class="grid">

    <ion-grid *ngSwitchCase="'summer'">
      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/1.jpg" class="image-container" [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,600</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/2.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,600</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/3.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,600</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/4.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,600</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/5.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,285</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/6.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,285</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/7.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,285</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/8.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,285</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/9.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,443</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/10.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,443</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/11.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,443</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/12.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,443</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/13.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,105</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/14.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,105</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/15.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,105</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/16.jpg" alt="" class="image-container">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,105</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/17.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,105</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/18.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,150</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/19.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,150</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/20.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,150</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/21.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,150</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/22.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 3,150</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/23.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/summer/24.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Alkaram Summer Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div [ngSwitch]="galleryType" class="grid1">

    <ion-grid *ngSwitchCase="'winter'">

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/1.JPG" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/2.JPG" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/3.JPG" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/4.JPG" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/5.JPG" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/6.JPG" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/7.JPG" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal1 Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/8.JPG" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/9.JPG" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
        <ion-col col-6>
          <img src="assets/fabric/shalwarkameez/winter/10.jpg" alt="" class="image-container"
            [routerLink]="['/skameez']">
          <ion-label>Faisal Winter Fabric</ion-label><br />
          <small>PKR 2,600</small>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>