
.upperimages{

    height: 215px;
    // width: 180px;
   
}
.fabric{
    height: 70px;
}
h3{

    text-align: center;
}
h4{

    color: black;
    font-size: 18px;
}
.skfab{

    height: 100px;
    text-align: center;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    img{

        font-size: 40px;
        top: 10px;
        position: relative;
    }

}
.connStatus{
    text-align: center;
}
  
