.image1{

    width: 120px;
    height: 120px;
  

}
small{

    color: green;
}
.label{
    color: #999;
    
}
.select{

    bottom: 20px;
    position: relative;
}
textarea{

    resize: none;
    text-align: center;
}
.fab{

    right: 40px;
    bottom: 120px;
}
.fab2{

    right: 40px;
    top: 110px;
}

.square{

    height: 230px;
    width: 330px;
    // background-color:whitesmoke;
    border: 1px solid black;
}
#button{

    padding: 0 10px;
}
h6{

    color: #999;
}
ion-input{

    left: 10px;
    text-transform: uppercase;
}
.submitbtn{

    padding: 0 10px;
}