<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-home"></ion-back-button>
    </ion-buttons>
    <ion-title>Measurements</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item [routerLink]="['/skameez']">
      <ion-avatar slot="start">
        <img src="assets/images/1.jpg">
      </ion-avatar>
      <ion-label>
        <h3>SHALWAR KAMEEZ</h3>
      </ion-label>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="['/pant']">
      <ion-avatar slot="start">
        <img src="assets/images/2.jpg">
      </ion-avatar>
      <ion-label>
        <h3>PANT</h3>
      </ion-label>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="['/shirt']">
      <ion-avatar slot="start">
        <img src="assets/images/3.jpg">
      </ion-avatar>
      <ion-label>
        <h3>SHIRT</h3>
      </ion-label>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/kurta']">
      <ion-avatar slot="start">
        <img src="assets/images/5.jpg">
      </ion-avatar>
      <ion-label>
        <h3>KURTA</h3>
      </ion-label>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/coat']">
      <ion-avatar slot="start">
        <img src="assets/images/4.jpg">
      </ion-avatar>
      <ion-label>
        <h3>COAT</h3>
      </ion-label>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-item>
    <!-- // Adding a comment here -->
    <ion-item [routerLink]="['/waistcoat']">
      <ion-avatar slot="start">
        <img src="assets/images/6.jpg">
      </ion-avatar>
      <ion-label>
        <h3>WAIST-COAT</h3>
      </ion-label>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-card>
      <ion-card-content class="connStatus">
        Your ConnectionStatus: {{ networkStatus && networkStatus.connected ? 'Online' : 'Offline'}}
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-footer>