<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>KurtaDesigns</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="designs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-spinner name="circles" *ngIf="searching || (kurtadesign | async) == 0"></ion-spinner>
      <ion-button color="medium" fill="clear" style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;"
        (click)="slidePrev()">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="medium" fill="clear"
        style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2;" (click)="slideNext()">
        <ion-icon name="chevron-forward-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-slides [options]="sliderConfig" paginationType="bullets" (ionSlideDidChange)="slideChanged()" #slides>
        <ion-slide *ngFor="let design of kurtadesign | async">

          <ion-card>
            <!-- <ion-buttons>
              <ion-button (click)="delete(design)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons> -->
            <ion-card-header>
              <ion-card-title>
                {{design.name}}
              </ion-card-title>
              <b>{{design.price | currency:'Rs'}}</b>
              <ion-card-content *ngIf="design.image">
                <img src="{{design.image}}" alt="" />
              </ion-card-content>
            </ion-card-header>
            <ion-button expand="block" fill="outline" color="primary" (click)="selectDesign(design)">buy now</ion-button>
          </ion-card>

        </ion-slide>
      </ion-slides>
</ion-content>
