<ion-header>
  <ion-toolbar>
    <ion-title>RateList</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-home">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item color="medium">
      <h4 slot="start">Name</h4>
      <h4 slot="end">Price</h4>
    </ion-item>
    <ion-item>
      <ion-label>Shalwar-Kameez</ion-label>
      <h5>850</h5>
    </ion-item>
    <ion-item color="light">
      <ion-label>Shalwar-Kameez Double</ion-label>
      <h5>1000</h5>
    </ion-item>
    <ion-item >
      <ion-label>Shirt</ion-label>
      <h5>500</h5>
    </ion-item >
    <ion-item color="light">
      <ion-label>Pant</ion-label>
      <h5>700</h5>
    </ion-item>
    <ion-item>
      <ion-label>Kurta</ion-label>
      <h5>900</h5>
    </ion-item>
    <ion-item color="light">
      <ion-label>Kurta Double</ion-label>
      <h5>1050</h5>
    </ion-item>
    <ion-item>
      <ion-label>Waist-Coat</ion-label>
      <h5>1800</h5>
    </ion-item>
    <ion-item color="light">
      <ion-label>Coat</ion-label>
      <h5>3500</h5>
    </ion-item>
    <ion-item>
      <ion-label>Two-Piece</ion-label>
      <h5>5500</h5>
    </ion-item>
    <ion-item color="light">
      <ion-label>Three-Piece</ion-label>
      <h5>6500</h5>
    </ion-item>
  </div>

</ion-content>