<ion-header>
  <ion-toolbar style="--background:#674172; color: white;">
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-tabs id="content2" root="tabs">
        <ion-tab-bar slot="bottom">
          <ion-tab-button [routerLink]="['/main-home']">
            <ion-icon name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-tab-button>
  
          <ion-tab-button [routerLink]="['/alert']">
            <ion-icon name="document-outline"></ion-icon>
            <ion-label>Feedback</ion-label>
          </ion-tab-button>
          
          <ion-tab-button [routerLink]="['/about']">
            <ion-icon name="alert-circle-sharp" style="color:#674172;"></ion-icon>
            <ion-label style="color:#674172;">About</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>