<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Shop Database</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<super-tabs>
  <super-tabs-toolbar slot="top" color="medium" style="color:white;"
  scrollable="true" scrollablePadding="false" showIndicator>
    <super-tab-button>
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>SkData</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>PantData</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>ShirtData</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>KurtaData</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>CoatData</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab>
      <ion-content>
        <ion-nav [root]="skDatabase" #skNav></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="pantDatabase"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="shirtDatabase"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="kurtaDatabase"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="coatDatabase"></ion-nav>
      </ion-content>
    </super-tab>
  </super-tabs-container>

</super-tabs>