<!-- <ion-header>
  <ion-toolbar color="medium">
    <ion-title class="title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">
    <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
      <div class="validation-errors" class="secondary">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" 
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" formControlName="password" class="form-controll" required placeholder="Password">
        </ion-input>
      </ion-item>
      <div class="validation-errors"  class="secondary">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message"
            *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)"
            >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid" color="success" expand="block"
        fill="outline" class="signin">
        <ion-icon name="log-in-outline"></ion-icon>
        Log In
      </ion-button>

      <ion-label class="error-message" color="danger">{{errorMessage}}</ion-label>
    </form>
    <p class="go-to-register">
      No account yet? <a (click)="goToRegisterPage()">Create an account.</a>
    </p>
  </div>
</ion-content> -->
<ion-header ion-no-border>
  <ion-toolbar color="medium">
    <ion-title class="title">Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-input type="text" [(ngModel)]="email" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
      </ion-item>

      <p class="ion-padding info-1">
        To start it would be nice to pray.<br />
        If you don't have an account, Get <span (click)="getregister()">Sign UP</span>
      </p>
      <ion-button color="success" expand="block" fill="outline" (click)="getlogin()" class="signin"
        [disabled]="disabledbtn">
        <ion-icon name="log-in-outline"></ion-icon>
        Sign In
      </ion-button>
    </ion-list>
  </div>
</ion-content>