<ion-header>
  <ion-toolbar slot="start" style="--background:#674172; color: white;">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Pant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3>{{ text }}</h3>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs id="content2" root="tabs">

      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/main-home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/alert']">
          <ion-icon name="document-outline"></ion-icon>
          <ion-label>Feedback</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/about']">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/menu']">
          <ion-icon name="menu-outline"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>