<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="fabrics"></ion-back-button>
    </ion-buttons>
    <ion-title>Editfabric</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
  <h4>Edit Summer Fabric</h4>
    <ion-item>
      <ion-label>FabName:</ion-label>
      <ion-input type="text" [(ngModel)]="fabric.fabname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price:</ion-label>
      <ion-input type="text" [(ngModel)]="fabric.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Meter:</ion-label>
      <ion-input type="text" [(ngModel)]="fabric.meter"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Discount in %:</ion-label>
      <ion-input type="text" [(ngModel)]="fabric.discount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Availability:</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="fabric.stock">
        <ion-select-option value="AvailableNow">AvailableNow</ion-select-option>
        <ion-select-option value="OutOfStock">OutOfStock</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div>
    <ion-button (click)="updateSummer(fabric.fabname, fabric.price, fabric.discount, fabric.meter, fabric.stock )" color="success"
      expand="block" fill="outline">update Summer</ion-button>
  </div>

  <div>
      <h4>Edit Winter Fabric</h4>
        <ion-item>
          <ion-label>FabName:</ion-label>
          <ion-input type="text" [(ngModel)]="fab.Wfabname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Price:</ion-label>
          <ion-input type="text" [(ngModel)]="fab.Wprice"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Meter:</ion-label>
          <ion-input type="text" [(ngModel)]="fab.Wmeter"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Discount in %:</ion-label>
          <ion-input type="text" [(ngModel)]="fab.Wdiscount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Availability:</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="fab.Wstock">
            <ion-select-option value="AvailableNow">AvailableNow</ion-select-option>
            <ion-select-option value="OutOfStock">OutOfStock</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
  <div>
    <ion-button (click)="updateWinter(fab.Wfabname, fab.Wprice, fab.Wdiscount,fab.Wmeter, fab.Wstock)" color="success"
      expand="block" fill="outline">update Winter</ion-button>
  </div>
</ion-content>