.title{

    text-align: center
}
.center{

text-align: center
}
.signup{

    text-transform: capitalize
}
.info-1 span{

    color: blue;
}
.info-1{

    font-size: 14px;
    color: #999;
}
#container{

    padding: 120px 20px;
 //    position: relative;
 }
 ion-toolbar{

    --background: #674172;
    --color: white;
 }
 .secondary{
    color: red;
}