<ion-header>
  <ion-toolbar style="--background:#674172; color: white;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Shalwar-Kameez</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="optionsPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="Measurment()">
    <ion-list>

      <ion-item>
        <ion-label position="floating">FullName</ion-label>
        <ion-input type="text" [(ngModel)]="form.Name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">PhoneNumber</ion-label>
        <ion-input type="text" [(ngModel)]="phonenumber" [(ngModel)]="form.phone" name="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text" [(ngModel)]="address" [(ngModel)]="form.Address" name="Address"></ion-input>
      </ion-item>
    </ion-list>

    <!-- <ion-list>

      <ion-item [routerLink]="['/fabrics']">
        <textarea name="" id="" cols="25" rows="10" placeholder="Select fabrics from collection" slot="start"
          disabled></textarea>
      </ion-item>

    </ion-list> -->

    <ion-list>

      <ion-item>
        <img src="assets/images/measurement/1.jpg" class="image1" slot="start">
        <ion-label position="floating">LAMBAI<small>(inches)</small></ion-label>
        <ion-input type="number" [(ngModel)]="Lambai" [(ngModel)]="form.lambai" name="Lambai"></ion-input>
      </ion-item>

      <ion-item>
        <img src="assets/images/measurement/2.jpg" class="image1" slot="start">
        <ion-label position="floating">CHATTI<small>(inches)</small></ion-label>
        <ion-input type="number" [(ngModel)]="chatti" [(ngModel)]="form.chatti" name="chatti"></ion-input>
      </ion-item>
      <ion-item>
        <img src="assets/images/measurement/3.jpg" class="image1" slot="start">
        <ion-label position="floating">TEERA<small>(inches)</small></ion-label>
        <ion-input type="number" [(ngModel)]="teera" [(ngModel)]="form.teera" name="teera"></ion-input>
      </ion-item>

      <ion-item>
        <img src="assets/images/measurement/4.jpg" class="image1" slot="start">
        <ion-label position="floating">BAZU<small>(inches)</small></ion-label>
        <ion-input type="number" [(ngModel)]="bazu" [(ngModel)]="form.bazu" name="bazu"></ion-input>
      </ion-item>

      <ion-item>
        <img src="assets/images/measurement/5.jpg" class="image1" slot="start">
        <ion-label position="floating">NECK<small>(inches)</small></ion-label>
        <ion-input type="number" [(ngModel)]="neck" [(ngModel)]="form.neck" name="neck"></ion-input>
      </ion-item>

      <ion-item>
        <img src="assets/images/measurement/6.jpg" class="image1" slot="start">
        <ion-label position="floating">KAMEEZ-DAMAN<small><br />(inches)</small></ion-label>
        <ion-input type="number" [(ngModel)]="kameezdaman" [(ngModel)]="form.kameezdaman" name="kameezdaman">
        </ion-input>
      </ion-item>

      <ion-item>
        <img src="assets/images/measurement/7.jpg" class="image1" slot="start">
        <ion-label position="floating">SHALWAR-LAMBAI<small><br />(inches)</small></ion-label>
        <ion-input type="number" [(ngModel)]="shalwarlambai" [(ngModel)]="form.shalwarlambai" name="shalwarlambai">
        </ion-input>
      </ion-item>

      <ion-item>
        <img src="assets/images/measurement/8.jpg" class="image1" slot="start">
        <ion-label position="floating">PANCHA<small>(inches)</small></ion-label>
        <ion-input type="number" [(ngModel)]="pancha" [(ngModel)]="form.pancha" name="pancha"></ion-input>
      </ion-item>

      <ion-item>
        <h3>More</h3>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-checkbox color="success" checked="true" [(ngModel)]="form.FRONT_pocket" name="fpocket"></ion-checkbox>
          <ion-label text-wrap>FRONT-POCKET</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="success" [(ngModel)]="form.shlwrpocket" name="SHW"></ion-checkbox>
          <ion-label text-wrap>SHALWAR-POCKET</ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-label>Daman Style</ion-label>
        <ion-select slot="end" okText="Okay" cancelText="Cancel" [(ngModel)]="form.DAMAN_style" name="daman">
          <ion-select-option value="DAMAN_GOL">DAMAN-GOL</ion-select-option>
          <ion-select-option value="DAMAN_CHOKORE">DAMAN-CHOKORE</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>

        <ion-label>SIDE-POCKET</ion-label>
        <ion-select slot="end" okText="Okay" cancelText="Cancel" [(ngModel)]="form.sidepocket" name="pocket">
          <ion-select-option checked="true" value="Single">Single</ion-select-option>
          <ion-select-option value="Double">Double</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>

        <ion-label>Collar Style</ion-label>
        <ion-select slot="end" okText="Okay" cancelText="Cancel" [(ngModel)]="form.collar" name="collar">
          <ion-select-option checked="true" value="Full_Bain">FULL-BAIN</ion-select-option>
          <ion-select-option value="Cut_Bain">CUT-BAIN</ion-select-option>
          <ion-select-option value="COllar">COLLAR</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>

        <ion-label>Asteen</ion-label>
        <ion-select slot="end" okText="Okay" cancelText="Cancel" [(ngModel)]="form.asteen" name="asteen">
          <ion-select-option checked="true" value="Gol_BAZU">GOL-BAZU</ion-select-option>
          <ion-select-option value="KAFF">KAFF</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button type="submit" expand="block" shape="round" fill="solid" color="success">submit</ion-button>
    </ion-list>
  </form>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-tabs id="content2" root="tabs">

      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/main-home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/alert']">
          <ion-icon name="document-outline"></ion-icon>
          <ion-label>Feedback</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/about']">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/menu']">
          <ion-icon name="menu-outline"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer> -->