.image1{

    width: 120px;
    height: 120px;
  

}
small{

    color: green;
}
h3{
    color: #999;
    
}
.select{

    bottom: 20px;
    position: relative;
}
textarea{

    resize: none;
    text-align: center;
}
.fab{

    right: 40px;
    bottom: 120px;
}
.fab2{

    right: 40px;
    top: 110px;
}
