<ion-header>
  <ion-toolbar style="--background:#674172; color: white;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Shalwar-Kameez</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="optionsPopover($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">FullName</ion-label>
      <ion-input type="text" [(ngModel)]="fullname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">PhoneNumber</ion-label>
      <ion-input type="text" [(ngModel)]="phonenumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" [(ngModel)]="address"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <textarea name="" id="" cols="25" rows="10" placeholder="select the fabric from page" slot="start"
        disabled></textarea>
    <!-- </ion-item> -->
        <!-- <ion-item> -->
      <ion-fab class="fab">
        <ion-fab-button (click)="getSelectImage()">Select</ion-fab-button>
      </ion-fab>

      <ion-fab class="fab2">
          <ion-fab-button>Remove</ion-fab-button>
        </ion-fab>
    </ion-item>

  </ion-list>


  <ion-list>

    <ion-item>
      <img src="assets/images/measurement/1.jpg" class="image1" slot="start">
      <ion-label position="floating">LAMBAI<small>(inches)</small></ion-label>
      <ion-input type="number" [(ngModel)]="lambai"></ion-input>
    </ion-item>

    <ion-item>
      <img src="assets/images/measurement/2.jpg" class="image1" slot="start">
      <ion-label position="floating">CHATTI<small>(inches)</small></ion-label>
      <ion-input type="number" [(ngModel)]="chatti"></ion-input>
    </ion-item>

    <ion-item>
      <img src="assets/images/measurement/3.jpg" class="image1" slot="start">
      <ion-label position="floating">TEERA<small>(inches)</small></ion-label>
      <ion-input type="number" [(ngModel)]="teera"></ion-input>
    </ion-item>

    <ion-item>
      <img src="assets/images/measurement/4.jpg" class="image1" slot="start">
      <ion-label position="floating">BAZU<small>(inches)</small></ion-label>
      <ion-input type="number" [(ngModel)]="bazu"></ion-input>
    </ion-item>

    <ion-item>
      <img src="assets/images/measurement/5.jpg" class="image1" slot="start">
      <ion-label position="floating">NECK<small>(inches)</small></ion-label>
      <ion-input type="number" [(ngModel)]="neck"></ion-input>
    </ion-item>

    <ion-item>
      <img src="assets/images/measurement/6.jpg" class="image1" slot="start">
      <ion-label position="floating">KAMEEZ-DAMAN<small><br />(inches)</small></ion-label>
      <ion-input type="number" [(ngModel)]="kameezdaman"></ion-input>
    </ion-item>

    <ion-item>
      <img src="assets/images/measurement/7.jpg" class="image1" slot="start">
      <ion-label position="floating">SHALWAR-LAMBAI<small><br />(inches)</small></ion-label>
      <ion-input type="number" [(ngModel)]="shalwarlambai"></ion-input>
    </ion-item>

    <ion-item>
      <img src="assets/images/measurement/8.jpg" class="image1" slot="start">
      <ion-label position="floating">PANCHA<small>(inches)</small></ion-label>
      <ion-input type="number" [(ngModel)]="pancha"></ion-input>
    </ion-item>

    <ion-item>
      <h3>Other Categories</h3>
    </ion-item>
    <ion-item>
      <ion-checkbox color="success"></ion-checkbox>
      <ion-label>DAMAN GOL</ion-label>

      <ion-checkbox color="success"></ion-checkbox>
      <ion-label>DAMAN SEEDAH</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="success"></ion-checkbox>
      <ion-label text-wrap>FRONT-POCKET</ion-label>

      <ion-checkbox color="success"></ion-checkbox>
      <ion-label text-wrap>SIDE-POCKET</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="success"></ion-checkbox>
      <ion-label text-wrap>TWO-SIDE-POCKET</ion-label>

      <ion-checkbox color="success"></ion-checkbox>
      <ion-label text-wrap>SHALWAR-POCKET</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="success"></ion-checkbox>
      <ion-label text-wrap>FULL-BAIN</ion-label>

      <ion-checkbox color="success"></ion-checkbox>
      <ion-label text-wrap>CUT-BAIN</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="success"></ion-checkbox>
      <ion-label text-wrap>COLLAR</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox color="success"></ion-checkbox>
      <ion-label text-wrap>GOL-BAZU</ion-label>

      <ion-checkbox color="success"></ion-checkbox>
      <ion-label text-wrap>KAFF</ion-label>
    </ion-item>

  </ion-list>
  <ion-button color="success" expand="block" shape="round" fill="solid">Done</ion-button>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs id="content2" root="tabs">

      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/main-home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/alert']">
          <ion-icon name="document-outline"></ion-icon>
          <ion-label>Feedback</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/about']">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/menu']">
          <ion-icon name="menu-outline"></ion-icon>
          <ion-label>Menu</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>