<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-item button [routerLink]="['/title-setting', setting.id]" *ngFor="let setting of (titleSetting | async) ">
      <ion-badge color="dark">1</ion-badge>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-label>Change shop title and subtitle</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/starter-setting', setting.id]" *ngFor="let setting of (starterSetting | async) ">
      <ion-badge color="dark">2</ion-badge>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-label>Change starter title and message</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/email-setting', setting.id]" *ngFor="let setting of (emailSetting | async) ">
      <ion-badge color="dark">3</ion-badge>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-label>Change helping/email</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/ratelist-setting', setting.id]" *ngFor="let setting of (rateList | async) ">
      <ion-badge color="dark">4</ion-badge>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-label>Change rateList price</ion-label>
    </ion-item>
    <ion-item button [routerLink]="['/about-setting', setting.id]" *ngFor="let setting of (aboutSetting | async) ">
      <ion-badge color="dark">5</ion-badge>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-label>Change about setting</ion-label>
    </ion-item>
    <ion-item (click)="addfabrics()">
      <ion-badge color="dark">6</ion-badge>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-label>Add Fabrics</ion-label>
    </ion-item>
    <ion-item (click)="adddesigns()">
      <ion-badge color="dark">7</ion-badge>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-label>Add Designs</ion-label>
    </ion-item>
  </ion-list>
  <ion-button color="secondary" expand="block" fill="outline" (click)="Sms()">
    try android permission
  </ion-button>

</ion-content>