<ion-app padding>
<ion-content style="--background: white;">
 <div id="container">
  
<ion-slides  [options]="slideOpts">   
  <ion-card>
        <ion-slide>
            <img src="assets/logo2.jpg" alt="project-logo" class="slide-one-img">
        
          <h1>Welcome To Custom Tailor</h1>
          <p text-wrap>CustomTailor is Free App for Customers,
            In there Customers buy Fabrics and self enter measurements to send the shop
          </p> 
       
        </ion-slide>
      </ion-card>
      </ion-slides>
    <ion-button color="success" expand="full"  fill="solid" (click)="navigatetologin()">Start</ion-button>
  </div>
</ion-content>


</ion-app>