<ion-app padding>
  <ion-content>
    <img src="assets/00.jpg" alt="">
    <ion-list id="skeleton" *ngIf="searching || (starterSetting | async) == 0">
      <div lines="none" *ngFor="let i of [1]">
        <h1 class="h1">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </h1>
        <p class="p" *ngFor="let i of [1,2,3,4]">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </div>
    </ion-list>

    <div id="container">
      <h1 *ngFor="let setting of (starterSetting | async) " class="h1">{{setting.maintitle}}</h1>
      <p *ngFor="let setting of (starterSetting | async) " class="p">
        {{setting.message}}
      </p>
    </div>
    <ion-button color="success" expand="block" fill="outline" (click)="navigatetologin()" class="startbtn">
      <ion-icon name="chevron-forward-outline" color="success"></ion-icon>
      Start
    </ion-button>
  </ion-content>
</ion-app>