ion-slide{

    padding: 120px 20px;
    display: block;
    h1{

        font-size: 36px;
        font-weight: bold;
        
    }
    p{

        font-size: 18px;
        color: #999;
    }
}
.slide-one-img{

    height: 150px;
    width: 150px;
    border-radius: 100%;
}

#container{
    padding: 10px;
}
