<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-setting"></ion-back-button>
    </ion-buttons>
    <ion-title>emailSettings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" [(ngModel)]="idea.email"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-button (click)="chooserimage()">image</ion-button>
    </ion-item> -->
    <!-- <ion-spinner *ngIf="searching || (items | async) == 0"></ion-spinner>
    <div *ngFor="let item of items | async">
    <div *ngIf="item.imageURl">
      <ion-input>Name:{{item.name}}</ion-input>
      <ion-button (click)="delete(item)" slot="end">D</ion-button>
      <ion-button (click)="addProduct(item)" slot="end">A</ion-button>
      <img src="{{item.imageURl}}" alt=""/>
    </div>
  </div> -->
  </div>
  <div *ngIf="!idea.id">
    <ion-button (click)="save()" color="success" expand="block" fill="outline" [disabled]="disablebtn">
      Save
      <ion-icon name="checkmark" slot="start"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="idea.id">
    <ion-row no-padding text-center>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" color="success" (click)="updateIdea()">
          <ion-icon name="save" slot="end"></ion-icon>
          Update
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>