<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-setting"></ion-back-button>
    </ion-buttons>
    <ion-title>Addfab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item [routerLink]="['/skfabric']">
      <ion-avatar slot="start">
        <img src="assets/images/1.jpg">
      </ion-avatar>
      <ion-label>Sk</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/pantfabric']">
      <ion-avatar slot="start">
        <img src="assets/images/2.jpg">
      </ion-avatar>
      <ion-label>Pant</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/shirtfabric']">
      <ion-avatar slot="start">
        <img src="assets/images/3.jpg">
      </ion-avatar>
      <ion-label>Shirt</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/kurtafabric']">
      <ion-avatar slot="start">
        <img src="assets/images/5.jpg">
      </ion-avatar>
      <ion-label>Kurta</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/coatfabric']">
      <ion-avatar slot="start">
        <img src="assets/images/4.jpg">
      </ion-avatar>
      <ion-label>Coat</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item [routerLink]="['/wcoatfabric']">
      <ion-avatar slot="start">
        <img src="assets/images/6.jpg">
      </ion-avatar>
      <ion-label>Waist</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </div>

</ion-content>