<ion-header>
  <ion-toolbar color="medium">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="categories"></ion-back-button>
        </ion-buttons>
    <ion-title>Shirt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs id="content2" root="tabs">

      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/main-home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

      

        <ion-tab-button [routerLink]="['/about']">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>

    

      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>